@model KLTN_YourLook.Areas.Admin.Models.AddProductViewModel
@{
    ViewData["Title"] = "CreatProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="menu-cp">
    <div class="cp0">
        Thêm / Tạo Sản Phẩm mới
    </div>
    <div>
        <div class="card-header p-2" style="background-color:#d3d3d347">
            <ul class="nav nav-pills">
                <a asp-action="Product"><img class="mg-lr" style="height:20px" src="\icon\drop left.svg" /> </a>
                <li class="nav_item"><a class="nav-link active" href="#page1" data-toggle="tab">Thông Tin Chính</a></li>
                <li class="nav_item"><a class="nav-link" href="#page2" data-toggle="tab">Danh Sách Ảnh</a></li>
                <li class="nav_item"><a class="nav-link" href="#page3" data-toggle="tab"> Size / Màu Sắc</a></li>
            </ul>
        </div>

       @*  @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Error"]
            </div>
        } *@
        <!-- /.card-header -->
        @using (Html.BeginForm("CreatProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="card_body" style="background-color:#d3d3d347;height:100%">
                <div class="tab-content">
                    <div class="active tab-pane" id="page1">
                        <div class="fl pd">
                            <div class="col-4">
                                <label class="control-label">Tên Sản Phẩm</label>
                                <input asp-for="TenSp" id="tensp" class="form-control" onkeyup="TenSpLength()" />
                                <span asp-validation-for="TenSp" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label class="control-label">Ảnh Đại Diện (330x470)</label>
                                <input type="file" asp-for="AnhSp" class="form-control" name="AnhSpFile" accept="image/*" />
                                <span asp-validation-for="AnhSp" class="text-danger"></span>
							</div>
							 <div class="col-4">
                                <label class="control-label">Đối tượng phù hợp:</label>
								<select asp-for="Classify" class="form-control">
									<option value="All">--- Nam/Nữ ---</option>
                                    <option value="Nam">--- Nam ---</option>
                                    <option value="Nu">--- Nữ ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="fl mg">
                            <div class="col-4 flcl fljct">
                                <label class="control-label">Phân Loại</label>
                                <select asp-for="IdDm" class="form-control" asp-items="ViewBag.IdDm">
                                    <option value="">--- Loại ---</option>
                                </select>
                                <span asp-validation-for="IdDm" class="text-danger"></span>
                            </div>
                            <div class="col-4 flcl fljct">
                                <label class="control-label">Nhóm </label>
                                <select asp-for="NhomId" class="form-control" asp-items="ViewBag.IdNhom">
                                    <option value="">--- Nhóm ---</option>
                                </select>
                                <span asp-validation-for="NhomId" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label class="control-label">Mô Tả <div style="color: red;">(không để trống)</div></label>
								<textarea asp-for="MoTaSp" id="mota" class="form-control" style="height:150px"></textarea>
                                <span asp-validation-for="MoTaSp" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="fl mg">
                            <div class="col-4">
                                <label class="control-label">Giá Max</label>
                                <input asp-for="PriceMax" id="GiaMax" class="form-control" oninput="calculateGiaMin()" value=""/>
                                <span asp-validation-for="PriceMax" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label class="control-label">% Giảm Giá (Nếu có)</label>
                                <input asp-for="GiamGia" max="70" id="GiamGia" class="form-control " oninput="checkMaxValue(this)" oninput="calculateGiaMin()" />
                                <span asp-validation-for="GiamGia" id="GiamGiaError" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label class="control-label">Giá Đã Giảm</label>
                                <input asp-for="PriceMin" id="GiaMin" class="form-control" readonly />
                                <span asp-validation-for="PriceMin" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="fl" style="margin-top:40px">
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox talg">
                                        @Html.CheckBoxFor(x => x.IActive, new { @class = "custom-control-input", @id = "customCheckbox2", @checked = "checked" })
                                        <label for="customCheckbox2" class="custom-control-label">Hiển thị</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox talg">
                                        @Html.CheckBoxFor(x => x.IHot, new { @class = "custom-control-input", @id = "IsHotCheckbox2" })
                                        <label for="IsHotCheckbox2" class="custom-control-label">Hot</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox talg">
                                        @Html.CheckBoxFor(x => x.IFeature, new { @class = "custom-control-input", @id = "IsFeatureCheckbox" })
                                        <label for="IsFeatureCheckbox" class="custom-control-label">Nổi bật</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3" style="display:none">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox talg">
                                        @Html.CheckBoxFor(x => x.IFavorite, new { @class = "custom-control-input", @id = "IsFavoriteCheckbox" })
                                        <label for="IsFavoriteCheckbox" class="custom-control-label">yêu thích</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox talg">
                                        @Html.CheckBoxFor(x => x.ISale, new { @class = "custom-control-input", @id = "IsSaleCheckbox" })
                                        <label for="IsSaleCheckbox" class="custom-control-label">Khuyến mãi</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="page2">
                        <div class="flcl pd">
                            <div style="color:red">Thêm ít nhất 1 ảnh (330x470)</div>
                            <div class="col-12" style="display:flex; justify-content:space-between">
                                <input type="file" id="fileUpload" multiple />
                                <div class="flct col-4">
                                    <button type="button" id="btnUpload" class="btn btn-primary">Tải lên</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="imagesTable">
                                <div class="fl gap" id="tablei">
                                    <!-- Danh sách ảnh sẽ được thêm vào đây -->
                                </div>
                            </div>
                            @* <input  id="ddpicId" value="0" /> *@
                            <input type="hidden"  id="Imgs" name="Imgs" />
                        </div>
                    </div>
                    <div class="tab-pane" id="page3">
                        <div class="fljct">
                            <div class="col-5 flcl bdrdu pd">
                                <label class="fljct pd">Chọn Size:</label>
                                <div class="fljct gap">
                                    @foreach (var size in Model.SizeList)
                                    {
                                        <div class="fl gap nw">
                                            <input type="checkbox" name="SelectedSizes" value="@size.SizeId" data-namesize="@size.NameSize" />
                                            <div>@size.NameSize</div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-6 flcl bdrdu pd">
                                <label class="fljct pd">Chọn Màu Sắc:</label>
                                <div class="gap" style="display:grid;grid-template-columns: repeat(3, 1fr)">
                                    @foreach (var color in Model.ColorList)
                                    {
                                        <div class="flspb">
                                            <div class="fl gap nw">
                                                <input type="checkbox" name="SelectedColors" value="@color.ColorId" data-namecolor="@color.NameColor" />
                                                <div>@color.NameColor</div>
                                            </div>
                                            <div style="width:30px;height:auto;background-color:@color.MaColor"></div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="fljct mg pd">
                            <button type="button" id="addDetailsBtn">Chọn</button>
                        </div>
                        <div>
                            <table class="table table-bordered mt-3">
                                <thead>
                                    <tr>
                                        <th>Màu</th>
                                        <th>Size</th>
                                        <th>Giá</th>
                                        <th>Số Lượng</th>
                                        <th>Thao Tác</th>
                                    </tr>
                                </thead>
                                <tbody id="detailTableBody">
                                    @foreach (var detail in Model.Details)
                                    {
                                        <tr>
                                            <td>@detail.ColorId</td>
                                            <td>@detail.SizeId</td>
                                            <td><input type="number" name="Details[@detail.SizeId][@detail.ColorId].GiaLoai" value="@detail.GiaLoai" class="form-control" /></td>
                                            <td><input type="number" name="Details[@detail.SizeId][@detail.ColorId].Quantity" value="@detail.Quantity" class="form-control" /></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="fljct mg pd">
                                <button type="submit" id="submitBtn" style="display:none;">Submit</button>
                            </div>
                        </div>
                        <input type="hidden" id="detailData" name="DetailData" />
                    </div>
                </div>
                <div class="h-cp-dow fljct" style="position:relative;left:0">
                    <div class="mg">
                        <input type="submit" id="saveDetailsBtn" value="Lưu Thông Tin Sản Phẩm" class="" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts {        
    <script src="~/js_admin/admin_creatproduct.js"></script>
}