@using X.PagedList.Mvc.Core
@using KLTN_YourLook.Areas.Admin.Models
@{
    ViewData["Title"] = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model X.PagedList.IPagedList<AllProductViewModel>
<div class="cp0">
    Danh Sách Sản Phẩm
</div>
<div class="h-cp1">
    <div class="h-cp-f">
        <div class="h-cp-up">
            <div class="bt-c"><a href="@Url.Action("ProductCreat", "Admin")">Tạo sản phẩm mới</a></div>
            <div class="bt-c"><a href="">In dữ liệu </a></div>
            <div class="bt-c"><a href="">Xuất Excel</a></div>
            <div class="bt-c"><a href="">Xuất PDF</a></div>
        </div>
        <div class="h-cp-mid">
            @using (Html.BeginForm("Product", "Product", FormMethod.Get))
            {
                <div class="flspe">
                    <input class="form-search" name="keyword" type="text" value="@ViewBag.keyword" placeholder="Tìm Kiếm Mã Sản phẩm/ Tên sản phẩm . . .">
                    <button type="submit">Tìm Kiếm</button>
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["Message"]
                </div>
            }
            <table class="h-table">
                <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th>Mã SP</th>
                        <th>Ảnh SP </th>
                        <th style="width:200px">Tên SP</th>
                        <th>Giá gốc</th>
                        <th>Giá áp dụng</th>
                        <th>% Giảm giá</th>
                        <th>Phân loại</th>
                        <th style="width:40px">Nhóm</th>
                        <th>Số Lượng</th>
                        <th>Đã Bán</th>
                        <th style="width:20px">Hiển Thị</th>
                        <th style="width:20px">Nổi bật</th>
                        <th style="width:20px">Hot</th>
                        <th style="width:20px">Sale</th>
                        <th>Chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var prd in Model)
                        {
                            <tr>
                                <td class="hidden">@prd.IdSp</td>
                                <td>@prd.MaSp</td>
                                <td><img src="@Url.Content("/img/"+prd.AnhSp)" alt=""></td>
                                <td>@prd.TenSp</td>
                                <td>@string.Format("{0:N0}", prd.PriceMax)</td>
                                @if (prd.PriceMin != null && prd.PriceMin != 0)
                                {
                                    <td>@string.Format("{0:N0}", prd.PriceMin)</td>
                                }
                                else
                                {
                                    <td>@string.Format("{0:N0}", prd.PriceMax)</td>
                                }
                                <td>@prd.GiamGia %</td>
                                <td>@prd.TenDm</td>
                                <td>@prd.GroupName</td>
                                <td>@prd.Quantity</td>
                                <td>@prd.LuotSold</td>
                                @if (prd.IActive == true)
                                {
                                    <td>
                                        <div class="fljct" style="width:100%">
                                            <div class="check-od"></div>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="fljct" style="width:100%">
                                            <div class="check-od-none"></div>
                                        </div>
                                    </td>
                                }
                                @if (prd.IFeature == true)
                                {
                                    <td>
                                        <div class="fljct" style="width:100%">
                                            <div class="check-od"></div>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="fljct" style="width:100%">
                                            <div class="check-od-none"></div>
                                        </div>
                                    </td>
                                }
                                @if (prd.IHot == true)
                                {
                                    <td>
                                        <div class="fljct" style="width:100%">
                                            <div class="check-od"></div>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="fljct" style="width:100%">
                                            <div class="check-od-none"></div>
                                        </div>
                                    </td>
                                }
                                @if (prd.ISale == true)
                                {
                                    <td>
                                        <div class="fljct" style="width:100%">
                                            <div class="check-od"></div>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="fljct" style="width:100%">
                                            <div class="check-od-none"></div>
                                        </div>
                                    </td>
                                }
                                <td>
                                    <div class="flcl">
                                        <div class="fljct bd">
                                            <a class="cl000 ttu" href="@Url.Action("ProductDetail", new { idsp = prd.IdSp })">Chi Tiết Sản Phẩm</a>
                                        </div>
                                        <div class="flspe">
                                            @if (Context.Session.GetString("Role") == "Admin")
                                            {
                                                <a class="bd pd-lr cl000 ttu" href="@Url.Action("DeleteProduct", new { idsp = prd.IdSp })" onclick="deletesp(event)">Xóa</a>
                                            }

                                            @if (Context.Session.GetString("Role") != "Staff")
                                            {
                                            <a class="bd pd-lr cl000 ttu" asp-action="UpdateProduct" asp-route-idsp="@prd.IdSp">Sửa</a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="ttu" colspan="14">không có sản phẩm nào</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("Product", "Product", new { page = page }))

<script type="text/javascript">
    function deletesp(event) {
        event.preventDefault();
        var userConfirmed = confirm("Bạn có chắc chắn muốn xóa sản phẩm này không?");
        if (userConfirmed) {
            var url = event.currentTarget.getAttribute("href");
            window.location.href = url;
        }
    }
</script>