@using KLTN_YourLook.Models
@{
    ViewData["Title"] = "HistoryOrder";
    Layout = "~/Views/Shared/_LayoutUD.cshtml";
}
@model IEnumerable<ViewCustomerHistoryOrder>
<div class="inf-customer" style="padding:0">
    <div class="box-customer" style="background-color:#fff;max-height:fit-content">
        <div class="fl">
            <div class="fl-center" style="width:100%">
                <h4 class="ttu mg-tb" style="margin-top:0">Lịch sử giao dịch</h4>
            </div>
        </div>
        <div class="order-history flcl" style="max-height:550px;overflow-x:hidden;overflow-y:auto">
            @foreach(var od in Model){
                <div class="bdrdu" style="position:relative;background-color:#bdc3c7">
                    <div class="flspb flct">
                        <div class="date-order">Ngày Đặt: @od.CreateDate.ToString("dd/MM/yyyy")</div>
                        <div class="payment-name">@od.PaymentName</div>
                        <div class="fl">
                            @if(od.ODSuccess){
                                <div class="fl" style="margin:0 5px 0 0">
                                    <div class="nw ttu">đặt hàng thành công</div>
                                </div>
                            }
                            else if(od.ODReadly){
                                <div class="fl" style="margin:0 5px 0 0">
                                    <div class="nw ttu">đơn hàng đang chuẩn bị</div>
                                </div>
                            }
                            else if (od.ODTransported)
                            {
                                <div class="fl" style="margin:0 5px 0 0">
                                    <div class="nw ttu">đơn hàng đang Vận chuyển</div>
                                </div>
                            }
                            else if(od.Complete){
                                <div class="fl" style="margin:0 20px 0 0">
                                    <div class="nw ttu">đơn hàng thành công</div>
                                </div>
                            }
                            else if (od.ODHuy)
                            {
                                <div class="fl" style="margin:0 20px 0 0">
                                    <div class="nw ttu">đơn hàng đã hủy</div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="flcl" style="">
                        @foreach (var prd in od.InforSP)
                        {
                            <div class="box-cart">
                                <div class="cart-container flspb">
                                    <div class="box-img fl-center">
                                        <img src="@Url.Content("/img/"+prd.AnhSp)" alt="Product Image">
                                    </div>
                                    <div class="cart-infor">
                                        <div style="max-width:100%">
                                            <div class="infor-colum">
                                                <p class="cart-name" style="color:#000">@prd.TenSp</p>
                                                <div class="flspb">
                                                    <div class="flct">
                                                        <p class="flct" style="white-space:nowrap">Phân Loại:</p>
                                                        <p class="bdrdu nw">@prd.NameColor</p>
                                                        <p class="bdrdu">@prd.NameSize</p>
                                                    </div>
                                                    <div style="flct">
                                                        <p>x @prd.SoLuongSp</p>
                                                    </div>
                                                </div>
                                                <div class="flct nw">
                                                    <div class="infor-colum flct" style="justify-content:end">
                                                        <div class="flct" style="flex-direction:column">
                                                            <div>@string.Format("{0:N0}", prd.PriceBy) VNĐ</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="" style="display:flex;justify-content:end;margin:5px 0">
                        <div class="fl" style="gap:0">
                            @{
                                int iddh = @od.IdDh;
                            }
							<div class="product_price_od">
                                <div class="flct nw">(Tổng(@od.soluong):</div>
                                <div class="flct nw">@string.Format("{0:N0}", @od.TongTienThanhToan) VNĐ</div>
                            </div>
                            @if(!od.ODHuy && !od.Complete && !od.ODTransported){
                                <div class="flct mg-lr"><a class="bd pd-lr cl000 ttu" asp-action="UpdateOrder" asp-route-iddh="@od.IdDh" onclick="huydh(event)">hủy Đơn hàng</a></div>
                            }
                            else if (od.Complete && !od.Israted)//đơn hàng hoàn thành //chưa đánh giá
                            {
                                <div class="flct mg-lr"><a class="bd pd-lr cl000 ttu" asp-action="CreateRating" asp-route-iddh="@od.IdDh">Đánh giá</a></div>
                            }
                            else if (od.Complete && od.Israted)//đã đánh giá
                            {
                                <div class="flct mg-lr"><a class="bd pd-lr cl000 ttu">Đã Đánh giá</a></div>
                            }
                            else{
                                <div></div>
                            }
                        </div>
                    </div>

                    @if (od.ODHuy)
                    {
                        <div class="fl-center" style="position:absolute;top:0;bottom:0;left:0;width:100%;z-index:10;background-color:#353837a1;border-radius:10px">
                            <div class="ttu" style="font-size:25px;color:#000">đơn hàng Đã Hủy</div>
                        </div>
                    }
                </div>                
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function huydh(event) {
        event.preventDefault();
        var userConfirmed = confirm("Bạn muốn hủy đơn hàng này?");
        if (userConfirmed) {
            var url = event.currentTarget.getAttribute("href");
            window.location.href = url;
        }
    }
</script>