@using KLTN_YourLook.Models
@{
    ViewData["Title"] = "HistoryOrder";
    Layout = "~/Views/Shared/_LayoutUD.cshtml";
}
@model IEnumerable<ViewCustomerHistoryOrder>
<div class="inf-customer" style="padding:0">
    <div class="box-customer" style="background-color:#fff;max-height:fit-content">
        <div class="fl">
            <div class="fl-center" style="width:100%">
                <h4 class="ttu" style="margin:0">Lịch Sử đơn hàng</h4>
            </div>
        </div>
        <div class="order-history flcl" style="max-height:550px;overflow-x:hidden;overflow-y:auto">
               @foreach(var od in Model){
                <div class="bdrdu" style="position:relative;background-color:#bdc3c7">
                    <div class="flspb flct">
                        <div class="date-order">Ngày Đặt: @od.CreateDate.ToString("dd/MM/yyyy")</div>
                        <div class="payment-name">COD - Thanh Toán Khi Nhận Hàng</div>
                        <div class="" style="display:flex">
                            @if(od.ODSuccess){
                                <div class="flcl" style="margin:0 5px 0 0">
                                    <i class="fa-solid fa-bag-shopping" style="color: #000000;"></i>
                                    <div class="nw">
                                        <i class="fa-regular fa-circle-check" style="color: #00fa2a;"></i>
                                        <i class="fa-solid fa-minus" style="color: #00fa2a;"></i>
                                    </div>
                                </div>
                            }
                            else{
                                <div class="flcl" style="margin:0 5px 0 0">
                                    <i class="fa-solid fa-bag-shopping" style="color: #000000;"></i>
                                    <div class="nw">
                                        <i class="fa-regular fa-circle-check" style="color: #000000;"></i>
                                        <i class="fa-solid fa-minus" style="color: #000000;"></i>
                                    </div>
                                </div>
                            }
                            @if(od.ODReadly){
                                <div class="flcl" style="margin:0 5px 0 0">
                                    <i class="fa-solid fa-person-rifle" style="color: #000000;"></i>
                                    <div class="nw">
                                        <i class="fa-regular fa-circle-check" style="color: #00fa2a;"></i>
                                        <i class="fa-solid fa-minus" style="color: #00fa2a;"></i>
                                    </div>
                                </div>
                            }
                            else{
                                <div class="flcl" style="margin:0 5px 0 0">
                                    <i class="fa-solid fa-person-rifle" style="color: #000000;"></i>
                                    <div class="nw">
                                        <i class="fa-regular fa-circle-check" style="color: #000000;"></i>
                                        <i class="fa-solid fa-minus" style="color: #000000;"></i>
                                    </div>
                                </div>
                            }
                            @if (od.ODTransported)
                            {
                                <div class="flcl" style="margin:0 5px 0 0">
                                    <i class="fa-solid fa-truck-fast" style="color: #000000;"></i>
                                    <div class="nw">
                                        <i class="fa-regular fa-circle-check" style="color: #00fa2a;"></i>
                                        <i class="fa-solid fa-minus" style="color: #00fa2a;"></i>
                                    </div>
                                </div>
                            }
                            else{

                                <div class="flcl" style="margin:0 5px 0 0">
                                    <i class="fa-solid fa-truck-fast" style="color: #000000;"></i>
                                    <div class="nw">
                                        <i class="fa-regular fa-circle-check" style="color: #000000;"></i>
                                        <i class="fa-solid fa-minus" style="color: #000000;"></i>
                                    </div>
                                </div>
                            }
                            @if(!od.Complete && od.ODHuy){
                                <div class="flcl" style="margin:0 20px 0 0">                                    
                                    <div>
                                        <i class="fa-solid fa-xmark" style="color: red;"></i>
                                    </div>
                                </div>
                            }
                            else if (od.Complete && !od.ODHuy)
                            {
                                <div class="flcl" style="margin:0 20px 0 0">
                                    <i class="fa-solid fa-street-view" style="color: #000000;"></i>
                                    <div>
                                        <i class="fa-regular fa-circle-check" style="color: #00fa2a;"></i>
                                    </div>
                                </div>
                            }
                            else{

                                <div class="flcl" style="margin:0 20px 0 0">
                                    <i class="fa-solid fa-street-view" style="color: #000000;"></i>
                                    <div>
                                        <i class="fa-regular fa-circle-check" style="color: #000000;"></i>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="flcl" style="">
                        @foreach (var prd in od.InforSP)
                        {
                            <div class="box-cart">
                                <div class="cart-container flspb">
                                    <div class="box-img fl-center">
                                        <img src="@Url.Content("/img/"+prd.AnhSp)" alt="Product Image">
                                    </div>
                                    <div class="cart-infor">
                                        <div style="max-width:100%">
                                            <div class="infor-colum">
                                                <p class="cart-name" style="color:#000">@prd.TenSp</p>
                                                <div class="flspb">
                                                    <div class="flct">
                                                        <p class="flct" style="white-space:nowrap">Phân Loại:</p>
                                                        <p class="bdrdu">@prd.NameColor</p>
                                                        <p class="bdrdu">@prd.NameSize</p>
                                                    </div>
                                                    <div style="flct">
                                                        <p>x @prd.SoLuongSp</p>
                                                    </div>
                                                </div>
                                                <div class="flct nw">
                                                    <div class="infor-colum flct" style="justify-content:end">
                                                        <div class="flct" style="flex-direction:column">
                                                            <div>@string.Format("{0:N0}", prd.PriceBy) VNĐ</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="" style="display:flex;justify-content:end">
                        <div class="fl" style="gap:0">
							<div class="product_price flspb">(Tổng Sản Phẩm:@od.soluong):<div>@string.Format("{0:N0}", @od.TongTienThanhToan) VNĐ</div></div>
                            @if(!od.ODHuy){
                                <div class="flct mg-lr"><a class="bd pd-lr cl000 ttu" asp-action="UpdateOrder" asp-route-iddh="@od.IdDh" onclick="huydh(event)">hủy Đơn hàng</a></div>
                            }
                            else{
                                <div></div>
                            }
                        </div>
                    </div>

                    @if (od.ODHuy)
                    {
						<div class="fl-center" style="position:absolute;top:0;bottom:0;left:0;width:100%;z-index:10;background-color:#909f9aa1;border-radius:10px">
                            <div class="ttu" style="font-size:25px;color:#fff">đơn hàng Đã Hủy</div>
                        </div>
                    }
                </div>                
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function huydh(event) {
        event.preventDefault();
        var userConfirmed = confirm("Bạn muốn hủy đơn hàng này?");
        if (userConfirmed) {
            var url = event.currentTarget.getAttribute("href");
            window.location.href = url;
        }
    }
</script>