@using Data.Models
@{
    ViewData["Title"] = "UserAddress";
    Layout = "~/Views/Shared/_LayoutUD.cshtml";
}
@model IEnumerable<DbAddress>
<div class="inf-customer" style="">
    <div class="box-customer" style="background-color:#fff">
        <div style="display:flex;justify-content:space-between;border-bottom:1px solid #2f3640">
            <h4>Danh Bạ Địa Chỉ</h4>
            <div>
                <a href="@Url.Action("CreateAddress","User")"><i class="fa-solid fa-plus" style="color: #000000;"></i></a>
            </div>
		</div>
        <div style="max-height:350px;overflow-x:hidden;overflow-y:auto">
            @foreach(var adr in Model){
                <div class="lst-address-ct" style="">
                    <div>
						<h5>@adr.Sdt - @adr.TenNguoiNhan </h5>
                        <div class="fl gap">
                            <div>@adr.PhuongXa, @adr.QuanHuyen, @adr.City</div>
                            <div>- @adr.Address</div>
                        </div>
                    </div>
                    <div class="flct" style="">
                        <a href="@Url.Action("DeleteAdress", new { idadress = adr.IdAddress })" onclick="deleteadress(event)" style="color: #000;">Xóa</a>
                        <a class="btn-action" asp-action="UpdateAdress" asp-route-idadress="@adr.IdAddress" style="color: black;">Sửa</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    function deleteadress(event) {
        event.preventDefault();
        var userConfirmed = confirm("Bạn có chắc chắn muốn xóa địa chỉ này?");
        if (userConfirmed) {
            var url = event.currentTarget.getAttribute("href");
            window.location.href = url;
        }
    }
</script>