@using Data.Models
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Size";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model X.PagedList.IPagedList<DbSize>
<div class="cp0">
    Danh Sách Size Sản Phẩm
</div>
<div class="h-cp1">
    <div class="h-cp-f">
        <div class="h-cp-up">
            <div class="bt-c"><a href="@Url.Action("creatsize","Admin")">Thêm size Mới</a></div>
            <div class="bt-c"><a href="">In dữ liệu </a></div>
            <div class="bt-c"><a href="">Xuất Excel</a></div>
            <div class="bt-c"><a href="">Xuất PDF</a></div>
        </div>
        <div class="h-cp-mid">

            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["Message"]
                </div>
            }
            <div>
                <input class="form-search" type="text" placeholder="Tìm Kiếm Size/ Tên Size . . .">
            </div>
            <table class="h-table">
                <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th>Mã Kích cỡ</th>
                        <th>Tên Kích cỡ</th>
                        <th>Ngày Tạo </th>
                        <th>Tạo Bởi</th>
                        <th>Ngày Sửa</th>
                        <th>Sửa Bởi</th>
                        <th>Chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var prd in Model)
                        {
                            <tr>
                                <td class="hidden">@prd.SizeId</td>
                                <td>@prd.MaSize</td>
                                <td>@prd.NameSize</td>
                                <td>@prd.CreateDate</td>
                                <td>@prd.CreateBy</td>
                                <td>@prd.ModifiedDate</td>
                                <td>@prd.ModifiedBy</td>
                                <td>
                                    <a href="@Url.Action("SizeDelete", new { idsize = prd.SizeId })" onclick="deletes(event)" style="color: #000;">Xóa</a>
                                    <a asp-action="SizeUpdate" asp-route-idsize="@prd.SizeId" style="color: black;">Sửa</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">"trống!"</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("Size", "Size", new { page = page }))
<script type="text/javascript">
    function deletes(event) {
        event.preventDefault();
        var userConfirmed = confirm("Bạn có chắc chắn muốn size này?");
        if (userConfirmed) {
            var url = event.currentTarget.getAttribute("href");
            window.location.href = url;
        }
    }
</script>

