@using Data.Models;
@model IEnumerable<ViewAllDetail>
@foreach (var prd in Model)
{
    <div class="prd-item">
        @if (prd.GiamGia > 0)
        {
            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-@prd.GiamGia%</span></div>
        }
        else
        {
            <div></div>
        }
        <div class="product-2 discount product_filter">
            <div class="product_image-2">
                <div>
                    <a asp-controller="Home" asp-action="ProductDetail" asp-route-idsp="@prd.IdSp"><img src="@Url.Content("/img/"+prd.AnhSp)" alt=""></a>
                    <div class="favorite" data-id="@prd.IdSp">
                        @if (prd.IFavorite == true)
                        {
                            <i class="fa-solid fa-heart" style="color: #2f3640;" title="Xóa khỏi yêu thích"></i>
                        }
                        else
                        {
                            <i class="fa-regular fa-heart" style="color: #2f3640;" title="Thêm vào yêu thích"></i>
                        }
					</div>
                    <div class="box-inf-cl-s">
                        <div>
                            <div class="fljct title">Phân Loại</div>
                            <div class="flct title_size">
                                <div>Size:</div>
                                <div class="fl" style="max-width:90%;overflow:auto">
                                    @foreach (var sz in prd.Sizes)
                                    {
                                        <button>@sz.NameSize</button>
                                    }
                                </div>
                            </div>
                            <div class="flct" style="padding-left:5%">
                                <div>Màu:</div>
                                <div class="fl" style="max-width:90%;overflow:auto">
                                    @foreach (var cl in prd.Colors)
                                    {
                                        <button style="background-color:@cl.MaHex" title="@cl.NameColor"></button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (prd.PriceMin != prd.PriceMax)
        {
            <div class="product_info-2">
                <h6 class="product_name"><a asp-controller="Home" asp-action="ProductDetail" asp-route-idsp="@prd.IdSp">@prd.TenSp</a></h6>
                <div class="product_price">@string.Format("{0:N0}", prd.PriceMin)<span>@string.Format("{0:N0}", prd.PriceMax)</span></div>
            </div>
        }
        else
        {
            <div class="product_info-2">
                <h6 class="product_name"><a asp-controller="Home" asp-action="ProductDetail" asp-route-idsp="@prd.IdSp">@prd.TenSp</a></h6>
                <div class="product_price">@string.Format("{0:N0}", prd.PriceMax)</div>
            </div>
        }
        <div class="red_button add_to_cart_button">
            <a asp-controller="Home" asp-action="ProductDetail" asp-route-idsp="@prd.IdSp">
                Xem Chi Tiết<i class="fa-solid fa-cart-plus fa-flip-horizontal fa-lg" style="color: #ffffff;padding:10px"></i>
            </a>
        </div>
    </div>
}