
@using KLTN_YourLook.Areas.Admin.Models
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Order";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model X.PagedList.IPagedList<AllOrderViewModle>
<div id="page_top"   class="cp0">
    Danh sách đơn hàng
</div>
<div class="h-cp1">
    <div class="h-cp-f">
        <div class="h-cp-up">
            <div class="bt-c"><a href="@Url.Action("TaoDonHang","Admin")">Tạo đơn hàng mới</a></div>
            <div class="bt-c">
                <button type="button" id="exportOrderExcel" style="border:none;background-color:#ffffff00">Xuất Excel📥</button>
			</div>
            <div class="bt-c">
                <a href="@Url.Action("PrintBillToPDF", "Order")" title="xuất pdf tất cả đơn đặt hàng chưa in">Xuất Thông tin đơn đặt hàng (.PDF) </a>
            </div>            
        </div>

        @* @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Error"]
            </div>
        } *@
        @using (Html.BeginForm("Order", "Order", FormMethod.Get, new{id="filterForm"}))
        {
            <div>
                <div class="flspe">
                    <input class="form-search" name="keyword" type="text" value="@ViewBag.keyword" placeholder="Tìm Kiếm Id, Mã Đơn Hàng/ Người tạo . . .">
                    <button type="submit">Tìm Kiếm 🔍</button>
			    </div>
		    </div>
            <div class="flspb">
                <div style="margin:15px 0 0">
                    <div class="flct">
				        <div class="ttu nw mg-lr">Từ ngày</div>
                        <input type="date" name="date" value="@ViewBag.date" />
				        <div class="ttu nw mg-lr">tới Ngày</div>
                        <input type="date" name="todate" value="@ViewBag.todate" />
                        <button class="nw mg-lr" type="submit">Tìm kiếm 🔍</button>
                    </div>
                </div>
                <div class="fl" style="margin:15px 15px 0 0">
                    <div class="flct mg-lr">
                        <input type="checkbox" id="odsuccess" name="odsuccess" @(ViewBag.odsuccess == true ? "checked" : "") onchange="applyFilter()" />
                        <div class="ttu cl000">Chờ xử lý</div>
                    </div>
                    <div class="flct mg-lr">
                        <input type="checkbox" id="odreadly" name="odreadly" @(ViewBag.odreadly == true ? "checked" : "") onchange="applyFilter()" />
                        <div class="ttu cl000">Chờ vận chuyển</div>
                    </div>
                    <div class="flct mg-lr">
                        <input type="checkbox" id="odtranport" name="odtranport" @(ViewBag.odtranport == true ? "checked" : "") onchange="applyFilter()" />
                        <div class="ttu cl000">Đang vận chuyển</div>
                    </div>
                    <div class="flct mg-lr">
                        <input type="checkbox" id="complete" name="complete" @(ViewBag.complete == true ? "checked" : "") onchange="applyFilter()" />
                        <div  class="ttu cl000">hoàn thành</div>
                    </div>
                    <div class="flct mg-lr">
                        <input type="checkbox" id="odhuy" name="odhuy" @(ViewBag.odhuy == true ? "checked" : "") onchange="applyFilter()" />
                        <div class="ttu cl000">đã hủy</div>
                    </div>
                </div>
            </div>
        }
        <div class="h-cp-mid">
            <table class="h-table">
                <thead class="sticky_top">
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>Mã đơn hàng</th>
                        <th>Người Đặt</th>
                        <th>Người Nhận</th>
                        <th>Địa Chỉ Nhận</th>
                        <th>Số Lượng</th>
                        <th>Tổng tiền</th>
                        <th>Tổng Thanh toán</th>
                        <th>Loại thanh toán</th>
                        <th>Ngày Đặt</th>
                        <th>Trạng Thái</th>
                        <th>Chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var prd in Model)
                        {
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td>@prd.MaDh</td>
                                <td class="nw">@prd.TenKh</td>
                                <td class="nw">@prd.NguoiNhan</td>
                                <td>@prd.InforAddress</td>
                                <td>@prd.soluong</td>
                                <td class="nw">@prd.TongTien.ToString("N0") VND</td>
                                <td>@prd.TongTienThanhToan.ToString("N0") VND</td>
                                <td>@prd.PaymentName</td>
                                <td>@prd.CreateDate.ToString("dd/MM/yyyy")</td>
								<td style="position:relative">
                                    @if(prd.ODPrint == true){
                                        <div style="position:absolute;top:2px;right:2px" title=" Đơn Hàng Đã In"><i class="fa-solid fa-newspaper fa-sm" style="color: #000000;"></i></div>
                                    }
									@if (prd.ODSuccess == true)
                                    {   
                                        <div class="bdrdu" style="background-color:#dcdde1;color:#fff">Chờ xử lý</div>
                                    }
                                    else if (prd.ODReadly == true)
                                    {
									    <div class="bdrdu" style="background-color:#00a8ff;color:#fff">Chờ vận chuyển</div>
                                    }
                                    else if (prd.ODTransported == true )
                                    {
                                        <div class="bdrdu" style="background-color:#00a8ff;color:#fff">Đang vận chuyển</div>
                                    }
                                    else if (prd.Complete == true)
                                    {
                                        <div class="bdrdu" style="background-color:#4cd137;color:#fff">Hoàn thành</div>
                                    }
                                    else if (prd.ODHuy == true)
                                    {
                                        <div class="bdrdu" style="background-color:#eb2f06;color:#fff">Đã hủy</div>
                                    }
                                </td>
                                <td>
                                    <div style="display:flex;flex-direction:column;gap:10px">
                                        <a class="btn-ddu btn-dt nw" href="@Url.Action("orderdetail", new { iddh = prd.IdDh })" style="border:1px solid #2f3640;">Chi Tiết Đơn Hàng</a>
										<div style="display:flex;justify-content:space-between">
                                            @if(prd.ODHuy != true )
                                            {
											    <a class="btn-ddu btn-ud" href="@Url.Action("orderupdate",new {iddh=prd.IdDh})">Cập nhật</a>
                                            }
                                            else{
                                                <a class="btn-ddu btn-ud" style="text-decoration:line-through" title="đơn hàng đã hủy không thể cập nhật">Cập Nhật</a>
                                            }
                                            @if (Context.Session.GetString("Role") != "Staff")
                                            {
                                            <a class="btn-ddu btn-de" href="@Url.Action("XoaDonHang",new {iddh=prd.IdDh})" onclick="deletedh(event)">Xóa</a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="13">Trống</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @* mini-map *@
    <div class="mini-map">
        <ul class="flct">
            <li>
                <a href="#page_top"><i class="fa-solid fa-arrow-up" style="color:#000"></i></a>
            </li>
        </ul>
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("Order", "Order", new { page = page }))
<script src="../js_admin/admin_order.js"></script>
<script type="text/javascript">
    function deletedh(event) {
        event.preventDefault();
        var userConfirmed = confirm("Bạn có chắc chắn muốn xóa Đơn Hàng này?");
        if (userConfirmed) {
            var url = event.currentTarget.getAttribute("href");
            window.location.href = url;
        }
    }
</script>