@using KLTN_YourLook.Areas.Admin.Models
@model IEnumerable<OrderDetailViewModel>
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="h-cp1">
    <div class="fl">
        <div class="pd flalg">
            <a href="@Url.Action("order","admin")"><img style="height:20px" src="\icon\drop left.svg"> </a>
        </div>
        <div class="cp0" style="width:100%;font-size:1.5rem">
            Thông tin đơn hàng
        </div>
    </div>
    @foreach(var inf in Model)
    {
        <div class="pd" style="width:100%;display:flex">
            <div class="pd" style="width:60%">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ảnh Sản Phẩm</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Phân loại</th>
                            <th>Size</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prd in inf.InForSp)
                        {
                            <tr>
                                <td class="box-img"><img style="height:100px" src="@Url.Content("/img/"+prd.AnhSp)"></td>
                                <td>@prd.TenSp </td>
                                <td>@prd.NameColor</td>
                                <td>@prd.NameSize</td>
                                <td>@prd.SoLuongSp</td>
                                <td>@string.Format("{0:N0}", prd.GiaLoai) VNĐ</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="pd" style="width:40%">
                <div class="flspb">
                    <p class="ttu">Tài Khoản Đặt Hàng: </p>
                    <p> @inf.IdKh </p>
                </div>
                <div class="flspb">
                    <p class="ttu">Địa chỉ nhận hàng:</p>
                    <p>@inf.NguoiNhan - @inf.DiaChi</p>
                </div>
                <div class="flspb">
                    <p class="ttu">Ghi chú:</p>
                    <p>@inf.GhiChu</p>
                </div>
                <div class="flspb">
                    <p class="ttu">Ngày đặt:</p>
                    <p>@inf.CreateDate</p>
                </div>
                <div style="border-top:1px solid #000;padding-top:10px"></div>
                <div class="" style="padding:10px 100px">
                    <div class="flspb">
                        <p class="ttu">Tổng tiền Sản phẩm :</p>
                        <p> @string.Format("{0:N0}", inf.TongTien) VNĐ</p>
                    </div>
                    <div class="flspb">
                        <p class="ttu">voucher:</p>
                        <p>- @string.Format("{0:N0}", inf.GiamGia) VNĐ</p>
                    </div>
                    <div class="flspb">
                        <p class="ttu">Phí vận chuyển: </p>
                        <p>+ @string.Format("{0:N0}", inf.Ship) VNĐ</p>
                    </div>
                    <div class="flspb">
                        <p class="ttu">Tổng tiền: </p>
                        <p>@string.Format("{0:N0}", inf.TongTienThanhToan) VNĐ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-cp-dow fljct" style="left:35%">
            <div class="mg fl-center" title="Quay Lại">
                <a href="@Url.Action("order")" style="padding:10px 2px 10px 10px">
                    <i class="fa-solid fa-arrow-left fa-xl" style="color: #000000;"></i>
                </a>
            </div>
            <div class="mg fl-center">
                <a href="@Url.Action("orderupdate",new {iddh=inf.IdDh})" class="talg pd">Cập nhật trạng thái</a>
            </div>
            @if (inf.IsPrint == false && inf.Reprint==false)
            {
                <div class="mg fl-center" title="In PDF">
                    <a href="@Url.Action("PrintBillToPDF", "Order", new { iddh = inf.IdDh })" style="padding:10px 0 10px 10px">
                        <i class="fa-solid fa-print fa-xl" style="color: #000000;"></i>
                    </a>
                </div>
            }
            else if(inf.IsPrint==true && inf.Reprint==false)
            {
                <div class="mg fl-center" title="In lại PDF">
                    <a href="@Url.Action("ReprintBillToPDF", "Order", new { iddh = inf.IdDh, inlai=true })" style="padding:10px 0 10px 10px">
                        In Lại<i class="fa-solid fa-print fa-xl" style="color: #000000;margin-left:5px"></i>
                    </a>
                </div>
            }
            else{
                <div class="mg fl-center" style="position:relative" title="Đơn hàng không thể in lại">
                    <a style="padding:10px 0 10px 10px">
                        <i class="fa-solid fa-print fa-xl" style="color: #000000;"></i>
                    </a>
                    <div class="mg" style="position:absolute;top:-40%;left:-5%">
                        <i class="fa-solid fa-slash  fa-xl" style="color: #000000;"></i>
                    </div>
                </div>
            }
        </div>
    }
</div>
 